.profile{
    background-color: teal !important;
    display: flex;
    gap: 30px;
    height: 100;
}
.profileLinks{
    width: 300px;
}
.profileLinks nav{
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.profileLinks nav a{
    color: #fff;
    text-decoration: none;
}
.userData{
    flex-grow: 1;
}
